<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<section class="merchant-actions">
<%= link_to 'List a Product', new_product_path, class: "sell-link btn btn-info" %> |

<%= link_to 'View Categories', categories_path, class: "btn btn-info" %>
</section>




<table class="show_table table">
  <tr>
    <th>NAME</th>
    <th>PRICE</th>
    <th>QUANTITY</th>
    <th>RATING</th>
    <th>STATUS</th>
    <th>      </th>
  </tr>

  <tbody>
  <% if @user.products.empty? %>
    <%= "No Products List to Sell" %>
  <% else %>
    <% @user.products.each do |product| %>
      <tr>
        <td> <%= link_to "#{product.prod_name}", edit_product_path(product.id)%></td>
        <td> <%= format_price(product.price)%></td>
        <td> <%= product.inv_qty %></td>
        <td> <%= product.avg_rating %></td>
         <% if product.active %>
            <td>ACTIVE</td>
            <td><%= link_to "RETIRE", product_status_path(product), class: "btn btn-warning ", method: :patch%></td>
          <% else %>
            <td>RETIRED</td>
            <td><%= link_to "ACTIVATE", product_status_path(product), class: "btn btn-success", method: :patch%></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>



<%# need to use orderitem table to find all occurences where product_id matches the
  merchant's products%>
<table class="show_table table">
  <tr>
    <th>ORDER #</th>
    <th>ITEM</th>
    <th>PRICE</th>
    <th>QUANTITY</th>
    <th>SUBTOTAL</th>
    <th>STATUS</th>
    <th>      </th>
  </tr>

  <tbody>


  <% sold = @user.find_orders %>

  <% if sold.empty? %>
    <%= "No Products Have Sold" %>
  <% else %>
    <% sold.each do |product| %>
      <tr>

        <% or_item = OrderItem.find_by(product_id: product.id) %>
        <td> <%= or_item.id %></td>
        <td> <%= link_to "#{product.prod_name}", edit_product_path(product.id)%></td>
        <td> <%= format_price(product.price)%></td>
        <td> <%= or_item.qty %></td>
        <td> <%= format_price(product.price * or_item.qty)  %></td>
        <%= or_item.order_status%>

    <% end %>
  <% end %>
  </tbody>
</table>

<%# view order fulfillment%>
<%= link_to 'Back', root_path %>








<%# view order fulfillment%>
