<%= render partial: "/layouts/flash_errs" %>

<p>
  <strong>User ID:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<section class="merchant-actions d-flex justify-content-around">
  <%= link_to 'View Your Bakes', user_products_path(@user.id), class: "btn btn-info" %>
  <%= link_to 'List a New Bake', new_user_product_path(@user), class: "sell-link btn btn-info" %>
  <%= link_to 'View Categories', categories_path, class: "btn btn-info" %>
</section>


<h2>LISTED BAKES</h2>
<table class="show_table table ">
  <thead class="thead-light">
    <tr>
      <th>NAME</th>
      <th>PRICE</th>
      <th>QUANTITY</th>
      <th>RATING</th>
      <th>STATUS</th>
      <th>      </th>
    </tr>
  </thead>
  <tbody>
  <% if @user.products.empty? %>
    <%= "No Products List to Sell" %>
  <% else %>
    <% @user.products.each do |product| %>
      <tr>
        <td> <%= link_to "#{product.prod_name}", edit_product_path(product.id)%></td>
        <td> <%= format_price(product.price)%></td>
        <td> <%= product.inv_qty %></td>
        <td> <%= product.avg_rating %></td>
         <% if product.active %>
            <td>ACTIVE</td>
            <td><%= link_to "RETIRE", product_status_path(product), class: "btn btn-warning ", method: :patch%></td>
          <% else %>
            <td>RETIRED</td>
            <td><%= link_to "ACTIVATE", product_status_path(product), class: "btn btn-success", method: :patch%></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<h2>ORDER FULFILLMENT</h2>
<table class="show_table table">

  <tr>
    <th>ORDER #</th>
    <th>ITEM</th>
    <th>PRICE</th>
    <th>QUANTITY</th>
    <th>SUBTOTAL</th>
    <th>
      <div class="dropdown">
        <button class="merchant-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          ORDER STATUS
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% @user.order_items.each do |order_item| %>
            <% selected = order_item.order.status %>
            <li><%= selected %></li>
          <% end %>
        </ul>
      </div>
    </th>
    <th>ORDER STATUS</th>
  </tr>
  <tbody>
    <%= render partial: "list_user_items", locals: { selector: selected  } %>
  </tbody>
</table>


<h2 class="merchant rev-table-header"">REVENUE</h2>
<table class="show_table table table-bordered table-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col-2">PENDING</th>
      <th scope="col-2">PAID</th>
      <th scope="col-2">COMPLETE</th>
      <th scope="col-2">CANCELLED</th>
      <th scope="col-2">TOTAL</th>
    </tr>
  </thead>
  <tbody>
  <% sold = @user.find_ordered_items %>
  <% if sold.empty? %>
    <%= "No Products Have Sold" %>
  <% else %>
      <tr scope="row">
        <td> <%= format_price(@user.revenue("Pending")) %></td>
        <td> <%= format_price(@user.revenue("Paid")) %></td>
        <td> <%= format_price(@user.revenue("Complete"))%></td>
        <td> <%= format_price(@user.revenue("Cancelled")) %></td>
        <td> <%= format_price(@user.revenue("Total")) %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Back', root_path %>
