<%= form_with(model: order, local: true) do |form| %>
  <%# render partial "/layouts/form_errors", locals: { error_hash: order}%>


  <div class="form-group">
    <%= form.label "Name" %>
    <%= form.text_field :cust_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Email" %>
    <%= form.text_field :cust_email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mailing_address %>
    <%= form.text_field :mailing_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Name on Card" %>
    <%= form.text_field :cc_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Credit Card Number" %>
    <%= form.number_field :cc_digit, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Expiration Date" %>
    <%= form.date_select :cc_expiration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "CVV" %>
    <%= form.number_field :cc_cvv, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Zip Code" %>
    <%= form.number_field :cc_zip, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary"   %>
  </div>
<% end %>

</head>
