<p id="notice"><%= notice %></p>
<h1> Confirmation Page </h1>
<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Date the order was placed:</strong>
  <%= @order.date_of_order %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
