<h1>Your Cart</h1>
<table class = "table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |item| %>
    <tr>
      <td><%= item.product.prod_name %></td>
      <td><%= item.product.price %></td>
      <%= form_with model: @order_item do |f| %>
      <td><%= f.select :qty, (1..item.product.inv_qty).to_a %></td>
          <%= f.hidden_field :product_id, :value => item.product.id %>
      <td><%= item.subtotal %></td>
      <td><%= f.submit "Update" %>
      <% end %>
      <td><%#= link_to "Update", order_item_path(@order_item.product_id), method: :patch %></td>

      <td><%= link_to "Remove", order_item_path(item.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
