
<main class="main-container">
  <div class="cart">
    <section class="cart-details">
      <h1>Your Cart</h1>
      <table class = "table merchant-table order-table table-light table-hover table-sm">
        <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Remove Item</th>
        </tr>
        </thead>
        <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td><%= link_to "#{order_item.product.prod_name}", product_path(order_item.product.id) %></td>
            <td><%= order_item.product.price %></td>
            <%if order_item.product.inv_qty > 0 %>
              <%= form_with model: order_item do |f| %>
                <td><%= f.select :qty, (1..order_item.product.inv_qty).to_a %>
                  <%= f.hidden_field :product_id, :value => order_item.product.id %>
                  <%= f.submit 'Update', class: "btn btn-primary" %>
              <% end %>
              </td>
            <% else %>
              <td><span>Out of Stock </span></td>
            <%end%>
            <td><%= format_price(order_item.subtotal) %></td>
            <td><%= link_to "Remove", order_item_path(order_item.id), method: :delete, class: "btn btn-outline-danger" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </section>

    <article class="cart-actions d-flex justify-content-around">
      <%= link_to "Checkout", edit_order_path(@current_order.id), class: "action-btn btn btn-primary" %>
      <%= link_to "Continue Shopping", products_path, class: "action-btn btn btn-primary" %>
    </article>
  </div>
</main>



