
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <% if product.active %>
          <div class="col-md-3 col-sm-6">
              <div class="product-grid6">
                <div class="product-image6">
                  <%=link_to image_tag("#{product.image}", alt: "#{product.description}"), product_path(product.id), class: "product-img" %>
                </div>
                <div class="product-content">
                  <h3 class="title"><%= product.prod_name %></h3>
                <div class="price"><%= ("$%.2f" %product.price) %>
                  <sub><%= product.inv_qty %> in stock</sub>
                </div>
                </div>
                      <!-- <ul class="rating">
                          <li class="fa fa-star"></li>
                          <li class="fa fa-star"></li>
                          <li class="fa fa-star"></li>
                          <li class="fa fa-star disable"></li>
                          <li class="fa fa-star disable"></li>
                      </ul> -->
                <ul class="social">
                  <li><a href="/products/<%=product.id%>" data-tip="Product Details"><i class="fa fa-shopping-bag"></i></a></li>
                  <li><a href="/order_items/cart_direct/<%=product.id%>" data-tip="Add 1 to Cart" data-method="post"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
              </div>
            </div>
        <% end %>
      <% end %>
      </div>
    </div>

  </div>
