<p id="notice"><%= notice %></p>

<h3 class="h3">Products</h3>
<div class="parent">
<% @products.each do |product| %>
<div class="child">

    <div class="row">
        <div >
            <div class="product-grid3">
                <div class="product-image3">
                    <img src="<%= product.image  %>" class="pic-1">

                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-2.jpg">
                    </a>
                    <ul class="social">
                        <li><%= link_to raw('<i class="fa fa-shopping-bag"></i>'), product %>
                        </li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#"><%= product.prod_name %></a></h3>
                    <div class="price">
                        <%= product.price %>
                        <span><%= product.inv_qty %></span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>
</div>



<hr>
