<p id="notice"><%= notice %></p>

<h3 class="h3">Cakes for All Occassions</h3>

<div class="parent">
  <div class="child">

<div class="container">


    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-3 col-sm-6">

            <div class="product-grid6">

                <div class="product-image6">
                    <a href="#">
                        <img class="pic-1" src="https://www.sbs.com.au/food/sites/sbs.com.au.food/files/styles/full/public/zebra-bundt-cake.jpg?itok=GHK9-Xe3&mtime=1501816389">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title"><%= product.prod_name %></h3>
                    <div class="price">$<%= product.price %>
                        <sub><%= product.inv_qty %> in stock</sub>
                    </div>

                </div>
                <!-- <ul class="rating">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star disable"></li>
                    <li class="fa fa-star disable"></li>
                </ul> -->
                <ul class="social">
                    <li><%= link_to '<i class="fa fa-shopping-bag"></i>'.html_safe, product, tip: "Detail Page"%></li>
                    <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
        <% end %>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<hr>
