<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <% @product.categories.each do |cat| %>
  <%= cat.category.capitalize %><br>
    <% end %>
</p>

<p>
  <strong>Prod name:</strong>
  <%= @product.prod_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Inv qty:</strong>
  <%= @product.inv_qty %>
</p>

<%= form_with model: @order_item do |f| %>
  <%= f.label :qty %>
  <%= f.select :qty, (1..@product.inv_qty).to_a %>

  <%= f.hidden_field :product_id, :value => @product.id %>

  <%= f.submit "Add to cart", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', products_path %>


<button type="button" class="btn btn-warning"><%=link_to "Write a Review", new_product_review_path(@product)%></button>
<div class="reviews">
<h2>Reviews</h2>
 <section class="rating">
   <% @product.avg_rating.round.times do %>
    <img src="https://cdn4.iconfinder.com/data/icons/pretty_office_3/256/Star-Full.png" alt="rating star" height="25" width="25">
    <% end %>
</section>
  <% @product.reviews.each do |review|  %>
  <p><%= review.description  %></p>
  <% end %>
</div>
