<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Prod name:</strong>
  <%= @product.prod_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Inv qty:</strong>
  <%= @product.inv_qty %>
</p>

<%= form_with model: @order_item do |f| %>
  <%= f.label :qty %>
  <%= f.select :qty, (1..@product.inv_qty).to_a %>

  <%= f.hidden_field :product_id, :value => @product.id %>

  <%= f.submit "Add to cart", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
